.home-screen {
  padding: 0 1rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.home-screen img {
  margin-bottom: 30px;
}

.home-screen p {
  color: var(--grey);
}

.home-screen button {
  background-color: #eebf5e;
  text-transform: uppercase;
}

.home-screen button:hover {
  background-color: hsla(0, 0%, 100%, 0.87);
}